* {
	border: none;

	font-family: "JetBrainsMonoNerdFont", "Symbols Nerd Font Mono";
	font-size: 12px;

	min-height: 0;

	color: #cdd6f4;

	padding: 0px 5px;
}

#waybar {
  	background-color: transparent;

	padding-top: 5px;
	padding-bottom: 5px;
}

.module {
    background-color: #333333;

	border-radius: 10px;
   
	padding: 0px 8px;
    
	margin-top: 5px;
    margin-bottom: 5px;
}

.module:not(:first-child) {
	margin-left: 10px;
}

#pulseaudio {
    min-width: 46px;
}

#workspaces button {
    border-radius: 10px;

    margin-left: 2px;
    margin-right: 2px;

 	padding: 0px 0px;

	transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: #9e9e9e;
    color: #1e1e1e;

	padding: 0px 6px;
}
